.hero {
    position: relative;
    margin-bottom: 40px;

    .bgc {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: calc(100% - 1px);
        object-fit: cover;
    }


    // .hero__container

    &__container {}

    // .hero__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        position: relative;
        z-index: 1;

        padding-top: 157px;
        padding-bottom: 229px;

        text-align: center;

        @media (max-width: 768px) {}


        h1 {
            max-width: 776px;
            color: $white;

            span {
                color: #FF0022;
            }

            @media (max-width: 768px) {
                text-align: center;
            }
        }

        p {
            margin-top: 20px;
            max-width: 668px;
            color: $white;
        }

        div {
            display: flex;
            align-items: center;
            gap: 16px;

            margin-top: 50px;

            @media (max-width: 768px) {
                flex-direction: column;

            }
        }
    }

    // .hero-page

    &-page {
        .hero__body {
            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }
        }

        .fishka {
            height: 669px;
        }
    }

    // .casino-review

    &.casino-review {
        .hero__left {
            & > div {
                & > span {
                    display: block;
                    color: #fff;
                    font-weight: 700;
                    text-transform: uppercase;
                    @include adaptive-value("font-size", 24, 20, 1);
                }

                label {
                    display: block;

                    color: #fff;
                    font-size: 16px;
                    font-family: Montserrat;
                }

                &.labels {
                    margin-top: 20px;

                    @media (max-width: 768px) {
                        justify-content: center;
                        text-align: center;

                        & > :first-child {
                            margin-right: 20px;
                            margin-bottom: 0;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    a {
                        margin-bottom: 0;
                        max-width: 203px;
                        margin-inline: 0;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}